<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yikang.dao.TeacherMapper">
    <!--Method 1-->
    <select id="getTeacherById" resultMap="TeacherContainer">
        select t.id tid, t.name tname, s.id sid, s.name sname
        from student s, teacher t
        where s.t_id = t.id and t.id = #{id}
    </select>
    <resultMap id="TeacherContainer" type="teacher">
        <result column="tid" property="id"/>
        <result column="tname" property="name"/>
        <collection property="students" ofType="student">
            <result column="sid" property="id"/>
            <result column="sname" property="name"/>
            <result column="tid" property="tId"/>
        </collection>
    </resultMap>


    <!--Method 2 结果有问题，teacherId为0-->
    <select id="getTeacherById2" resultMap="TeacherContainer2">
        select * from teacher where id = #{id}
    </select>
    <resultMap id="TeacherContainer2" type="teacher">
        <collection property="students" column="id" javaType="ArrayList" ofType="student" select="getStudentByTid"/>
    </resultMap>
    <select id="getStudentByTid" resultType="student">
        select * from student where t_id = #{id}
    </select>

</mapper>